In [17]:
import sys
import psycopg2
import pandas as pd

# get_conn = lambda: psycopg2.connect('postgresql://kanu:postgres@localhost:5432/greendb')
get_conn = lambda: psycopg2.connect('postgresql://postgres:postgres@10.32.1.107:5432/GreenDB')

try:
    with get_conn() as conn, conn.cursor() as cur:
        cur.execute('SELECT lower(name_ru) as name, id FROM plants')
        plants = pd.DataFrame(cur.fetchall(), columns=[d.name for d in cur.description]).set_index('id').sort_values('name')
finally:
    conn.close()
plants['name'] = plants['name'].apply(lambda x: x.replace('ё', 'е'))
plants

                     name
id
1    абрикос обыкновенный
2       абрикос сибирский
3       азалия понтийская
4           айва японская
5       айлант высочайший
..                    ...
365   яблоня сливолистная
366        яблоня ягодная
367    ясень американский
368         ясень высокий
369  ясень пенсильванский

[524 rows x 1 columns]

In [18]:
import pathlib

strange_i = b'\xd0\xb8\xcc\x86'.decode(encoding='utf-8')

photos_dir = pathlib.Path("plants_photos")
l = []
filenames = {}
for file in photos_dir.iterdir():
    if not file.name.endswith(".jpg"):
        continue
    if strange_i in file.name:
        file.rename(photos_dir / file.name.replace(strange_i, 'й'))
    plant_name = file.name[:-4].lower().replace('ё', 'е')
    l.append(plant_name)
    filenames[plant_name] = file.name

files = pd.Series(sorted(l), name='photo_name', index=plants.index[:len(l)])
plants = pd.concat((plants, files), axis=1)
# plants.to_excel('plants_photos.xlsx')

In [19]:
missings = [name for name in l if name not in plants['name'].unique()]
print(len(missings), "extra", len(l) - len(missings), "found")

9 extra 298 found

In [20]:
plants_photos = pd.read_excel("plants_photos.xlsx").dropna(subset="id").dropna(subset="photo_name")[["id", "name", "photo_name"]]
plants_photos["id"] = plants_photos["id"].astype(int)
plants_photos = plants_photos.set_index("id")
plants_photos

                       name              photo_name
id
394      армерия приморская      армерия приморская
443     арония черноплодная     арония черноплодная
392      астильба китайская      астильба китайская
395           астра степная           астра степная
17    багрянник европейский   багрянник европейский
..                      ...                     ...
364  яблоня обильноцветущая  яблоня обильноцветущая
365     яблоня сливолистная     яблоня сливолистная
366          яблоня ягодная          яблоня ягодная
368           ясень высокий           ясень высокий
369    ясень пенсильванский    ясень пенсильванский

[297 rows x 2 columns]

In [21]:
import os

try:
    with get_conn() as conn, conn.cursor() as cur:
        cur.execute('ALTER TABLE plants ADD COLUMN photo_name varchar(256)')
        for plant_id, photo_name in plants_photos['photo_name'].items():
            photo_name = f'{photo_name}.jpg'
            new_photo_name = f'{plant_id}.jpg'
            cur.execute('UPDATE plants SET photo_name = %s WHERE id = %s', (new_photo_name, plant_id))
            (photos_dir / filenames[photo_name[:-4]]).rename(photos_dir / new_photo_name)
finally:
    conn.close()