In [25]:
import sys
import psycopg2
import pandas as pd

path_to_excel = '../database/База данных породного состава_2022-12-01.xlsx'
conn_str = 'postgresql://postgres:postgres@localhost:5432/GreenDB'

conn = psycopg2.connect(conn_str)

dfs = pd.read_excel(path_to_excel, sheet_name=None)
df, genera = dfs['Лист23'], dfs['РодВид'][['Род', 'Вид']].dropna()
df

          Род  Совместимость      Род.1     Краткий комментарий
0      акация              0     акация                     NaN
1      акация             -1   альбиция  Конфликт произрастания
2      акация             -1  багрянник  Конфликт произрастания
3      акация             -1  багульник  Конфликт произрастания
4      акация             -1   барбарис  Конфликт произрастания
..        ...            ...        ...                     ...
660  чубушник             -1     яблоня  Конфликт произрастания
661  чубушник             -1      ясень  Конфликт произрастания
662    яблоня              0     яблоня                     NaN
663    яблоня              0      ясень                     NaN
664     ясень              0      ясень                     NaN

[665 rows x 4 columns]

In [28]:
with conn, conn.cursor() as cur: 
    cur.execute('ALTER TABLE plants DROP COLUMN IF EXISTS genus_id')
    cur.execute('DROP TABLE IF EXISTS cohabitation, genera, cohabitation_comments')

In [29]:
comments = [c for c in df['Краткий комментарий'].unique() if c == c]
comments_ids = {}
with conn, conn.cursor() as cur:
    cur.execute('CREATE TABLE IF NOT EXISTS cohabitation_comments ('
        '   id Serial PRIMARY KEY NOT NULL,'
        '   name varchar(250) UNIQUE NOT NULL'
        ')'
    )
    for comment in comments:
        cur.execute('SELECT id FROM cohabitation_comments WHERE name = %s', (comment,))
        if (res := cur.fetchone()) is None:
            cur.execute('INSERT INTO cohabitation_comments (name) VALUES (%s) RETURNING id', (comment,))
            res = cur.fetchone()
        comments_ids[comment] = res[0]
comments_ids

{'Конфликт произрастания': 1,
 'Видовая непереносимость': 2,
 'Общее заболевание': 3,
 'Положительное влияние': 4,
 'Общие вредители': 5,
 'Положительное соседство': 6}

In [30]:
plants_ids = {}
with conn, conn.cursor() as cur, open('plants_not_found.txt', 'w', encoding='utf-8') as f:
    for name in set(genera["Вид"]):
        cur.execute("SELECT id FROM plants WHERE name_ru = %(name)s or replace(name_ru, 'ё', 'е') = %(name)s", {'name': name})
        if (res := cur.fetchone()) is not None:
            plants_ids[name] = res[0]
        else:
            for output in (sys.stdout, f):
                print(f"Plant {name:<40} is not found in DB!", file=output)
print(f'Using {len(plants_ids)} plants from DB')

Plant Гутчинзия альпийская                     is not found in DB!
Plant Миндаль трехлопастной                    is not found in DB!
Plant Слива мелкопильчатая                     is not found in DB!
Plant Кампанула карпатская                     is not found in DB!
Plant Хоста белоокаймлённая                    is not found in DB!
Plant Псевдотсуга Мензиса                      is not found in DB!
Plant Salix babylonica 'Tortuosa'              is not found in DB!
Plant Шиповник колючейший                      is not found in DB!
Plant Ива узколистная                          is not found in DB!
Using 484 plants from DB

In [31]:
genera_ids = {}
updated = 0
with conn, conn.cursor() as cur:
    cur.execute('CREATE TABLE genera ('
        '   id Serial PRIMARY KEY NOT NULL,'
        '   name_ru varchar(100) UNIQUE NOT NULL'
        ')'
    )
    for name in set(genera["Род"]):
        cur.execute('INSERT INTO genera (name_ru) VALUES (%s) RETURNING id', (name,))
        genera_ids[name] = cur.fetchone()[0]

    cur.execute('ALTER TABLE plants ADD COLUMN genus_id integer REFERENCES genera(id)')
    for _, (genus_name, plant_name) in genera[['Род', 'Вид']].iterrows():
        if plant_name in plants_ids:
            cur.execute('UPDATE plants SET genus_id = %s WHERE id = %s', (genera_ids[genus_name], plants_ids[plant_name]))
            updated += 1
print(f'Added genus to {updated} plants')

Added genus to 484 plants

In [32]:
df[df['Совместимость'] == 1]

        Род  Совместимость   Род.1      Краткий комментарий
175  береза              1   груша    Положительное влияние
340   груша              1     дуб  Положительное соседство
349   груша              1    липа  Положительное соседство
385     дуб              1  яблоня  Положительное соседство
553    липа              1  тополь  Положительное соседство
556    липа              1  яблоня  Положительное соседство

In [33]:
missing_genera = (set(df['Род'].apply(str.lower)) | set(df['Род.1'].apply(str.lower))) - set(genera['Род'].apply(str.lower))
print(', '.join(missing_genera))

print(f"{df.shape[0]} total cohabitations, {df.drop_duplicates(['Род', 'Род.1']).shape[0]} - after dropping duplicates")
df = df.drop_duplicates(['Род', 'Род.1']).dropna(subset=['Род', 'Род.1'])
print(f'Working with {df.shape[0]} cohabitations')

полынь, багульник
665 total cohabitations, 664 - after dropping duplicates
Working with 664 cohabitations

In [35]:
inserted_straight = 0
inserted_back = 0
updated = 0
with conn, conn.cursor() as cur, open('different_cohabitations.txt', 'w', encoding='utf-8') as f:
    cur.execute("CREATE TYPE cohabitation_type AS ENUM ('negative', 'neutral', 'positive')")
    cur.execute('CREATE TABLE IF NOT EXISTS cohabitation ('
        '   genus_id_1 integer REFERENCES genera(id) NOT NULL,'
        '   genus_id_2 integer REFERENCES genera(id) NOT NULL,'
        '   cohabitation_type cohabitation_type NOT NULL,'
        '   comment_id integer REFERENCES cohabitation_comments(id),'
        '   PRIMARY KEY(genus_id_1, genus_id_2)'
        ')'
    )
    for _, (genus_1, value, genus_2, comment) in df[['Род', 'Совместимость', 'Род.1', 'Краткий комментарий']].iterrows():
        genus_1 = genus_1.capitalize()
        genus_2 = genus_2.capitalize()
        if genus_1.lower() in missing_genera or genus_2.lower() in missing_genera:
            continue
        cur.execute('SELECT cohabitation_type FROM cohabitation WHERE genus_id_1 = %s AND genus_id_2 = %s', (genera_ids[genus_1], genera_ids[genus_2]))
        if (res := cur.fetchone()) is not None:
            value_now = 1 if res[0] == 'positive' else 0 if res[0] == 'neutral' else -1
            if value_now != value:
                print(f'value = {value}, value_now = {value_now}')
                cur.execute('UPDATE cohabitation SET cohabitation_type = %s WHERE genus_id_1 = %s AND genus_id_2 = %s',
                        (('positive' if value == 1 else 'neutral' if value == 0 else 'negative'), genera_ids[genus_1], genera_ids[genus_2]))
                updated += 1
        else:
            cur.execute('INSERT INTO cohabitation (genus_id_1, genus_id_2, cohabitation_type, comment_id) VALUES (%s, %s, %s, %s)',
                (genera_ids[genus_1], genera_ids[genus_2], 'positive' if value == 1 else 'neutral' if value == 0 else 'negative', comments_ids[comment] if comment in comments_ids else None))
        inserted_straight += 1
    for _, (genus_1, value, genus_2, comment) in df[['Род', 'Совместимость', 'Род.1', 'Краткий комментарий']].iterrows():
        genus_1 = genus_1.capitalize()
        genus_2 = genus_2.capitalize()
        if genus_1.lower() in missing_genera or genus_2.lower() in missing_genera:
            continue
        cur.execute('SELECT cohabitation_type FROM cohabitation WHERE genus_id_1 = %s AND genus_id_2 = %s', (genera_ids[genus_2], genera_ids[genus_1]))
        if (res := cur.fetchone()) is not None:
            value_now = 1 if res[0] == 'positive' else 0 if res[0] == 'neutral' else -1
            if value_now != value:
                for output in (sys.stdout, f):
                    print(f'Genera {genus_2:<20} x {genus_1:<20} have value {value_now} while straight and {value} backwards', file=output)
        else:
            cur.execute('INSERT INTO cohabitation (genus_id_1, genus_id_2, cohabitation_type, comment_id) VALUES (%s, %s, %s, %s)',
                (genera_ids[genus_2], genera_ids[genus_1], 'positive' if value == 1 else 'neutral' if value == 0 else 'negative', comments_ids[comment] if comment in comments_ids else None))
            inserted_back += 1
print(f'Inserted {df.shape[0]} * 2 = {inserted_straight} forward + {inserted_back} back cohabitations. Updated {updated} values')

Inserted 664 * 2 = 592 forward + 556 back cohabitations. Updated 0 values